* {
	-gtkmm__CustomObject_finder-width: 450;
	-gtkmm__CustomObject_finder-height: 500;
	-gtkmm__CustomObject_finder-results: 10;
}

#search-icon {
	background-color: rgba(255, 255, 255, 0.05);
	padding-left: 10px;
    padding-right: 10px;
    border: none;
}

#search-text {
    font-size: 18px;
    padding: 15px;
	padding-left: 0;
	background-color: rgba(255,255,255,0.05);
	border: none;
	border: none;
	transition: none;
	color: #ccc;
}

#search-application {
	font-size: 20px;
	padding: 20px;
	padding-left: 0;
	border: none;
}

#search-arguments-icon {
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	transition: none;
}

#search-arguments {
	font-size: 20px;
	padding: 20px;
	border: none;
}

#search-text:focus,#search-arguments:focus {
	box-shadow: none;
}

#autocomplete-overlay {
	border: none;
}

#autocomplete-scroll {
	border: none;
}

#autocomplete {
	padding: 10px;
	font-size: 16px;
	color: #eee;
	border: none;
}